* {
    padding: 0%;
    margin: 0%;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.main.container {
    margin-top: 7em;
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.seccion {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* eliminar este */
#titulo1 {
    font-size: 50pt;
}

#titulo2 {
    font-size: 20pt;
    padding-top: 10%;
    padding-bottom: 10%;
}

#clasesExtra{
    padding-top: 10%;
}

#extraTitulo {
    font-size: 65pt;
    line-height: 100%;
}

#extraTitulo1 {
    color: #c80045;
}

#extraTexto {
    font-size: x-large;
}

#programas, #programas2 {
    padding-top: 10%;
}

#botoncitoContacto {
    padding-top: 5%;
    padding-bottom: 10%;
}

.cabecera.ui {
    box-shadow: inset 0 0 0 1000px #134f5ca5;
}


#Primaria {
    background-image: url("../../data/img/primaria-fondo.jpg");
    background-size: cover;
}

#Secundaria {
    background-image: url("../../data/img/secundaria-fondo.jpg");
    background-size: cover;
}

#Extra {
    background-image: url("../../data/img/extra-fondo.jpg");
    background-size: cover;
}

.enlace:hover {
    text-decoration: underline;
    text-decoration-color: #4183C4;
}

#extraSegment.enlace {
    padding-top: 20pt;
}

#primariaSegment{
    background-color: #e9bfde;
}

#secundariaSegment{
    background-color: #d2e1b4;
}

#extraSegment{
    background-color: #d8f1ff;
    /*padding-bottom: 13%;*/
}

#ofertaMiniTitulo {
    margin-top: 5%;
}

#ofertaTitulo {
    font-size: 60pt;
    line-height: 90%;
    font-weight: bold;
}

#ofertaTexto {
    font-size: 25pt;
    color: #606060;
    letter-spacing: .004em;
    line-height: 1.125;
    margin-left: 20%;
    margin-right: 20%;
}

#ofertaPrimaria, #ofertaSecundaria {
    background-color: #400108;
    padding-left: 10%;
    padding-right: 10%;
}

#ofertaPrimaria {
    padding-left: 15%;
    padding-right: 15%;
}

#primariaLink, #secundariaLink {
    color: #ffffff;
}

#encabezado {
    background-color: #134F5C;
}

#pie {
    background-color: #400108;
    margin-top: 0cap;
}

.title {
    padding-top: 1em;
}

/*secondhead es la propiedad del menú para las subpáginas, masthead es para el index*/

body {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    }

.hidden.menu {
    display: none;
}

.masthead.menu {
    margin-top: 0%;
}

.masthead.segment {
    min-height: 396px;
    padding: 0em 0em;
}

.secondhead.segment {
    min-height: 300px;
    padding: 1em 0em;
}

.thirdhead.segment {
    min-height: 100px;
    padding: 1em 0em;
    margin-bottom: 1em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.secondhead .logo.item img {
    margin-right: 1em;
}

.thirdhead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.secondhead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.thirdhead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 350%;
    font-weight: normal;
}

.secondhead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: 700;
}

.thirdhead h1.ui.header {
    margin-top: 0.1em;
    margin-bottom: 0em;
    padding-bottom: 0.2em;
    font-size: 3em;
    font-weight: 500;
}

.masthead h2{
    font-size: 1.7em;
    font-weight: normal;
}

.secondhead h2 {
    font-size: 1.7em;
    font-weight: normal;
    margin-left: 0%;
}

.thirdhead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}
/*comportamiento del menú*/
.inverted.primary.large.menu .toc.item {
    display: none;
}

/* Manipula las vistas para móvil y resoluciones similares */
@media only screen and (max-width: 700px) {
    /* .ui.fixed.menu { */
    /*     display: block !important; */
    /* } */
    
    #extraTitulo {
        font-size: 35pt;
        line-height: 100%;
    }
    
    #extraTitulo1 {
        color: #c80045;
    }
    
    #extraTexto {
        font-size: large;
    }

    #titulo1 {
        font-size: 30pt;
    }
    
    #titulo2 {
        font-size: 18pt;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #ofertaMiniTitulo {
        margin-top: 20%;
        font-size: 19pt;
        line-height: 1.1pt;
    }

    #ofertaTitulo {
        font-size: 44pt;
    }

    #ofertaTexto {
        font-size: 18pt;
        margin-left: 10%;
        margin-right: 10%;
    }

    .primary.pointing.menu .item,
    .primary.pointing.menu .menu {
        display: none;
    }

    .primary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }

    .secondhead.segment {
        min-height: 250px;
    }

    .thirdhead.segment {
        min-height: 100px;
    }

    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .secondhead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }

    .thirdhead h1.ui.header {
        font-size: 2em;
        margin-top: 0.5em;
    }

    .secondhead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .thirdhead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

