.subrayado {
    text-decoration: underline;
}

.negritas {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.justificado {
    text-align: justify;
}

.centrado {
    text-align: center;
}

.izquierda {
    text-align: left;
}

.dorado{
  color:transparent;
  background: linear-gradient(270deg,#f7ef8a,#d2ac47,#edc967,#dfbd69,#ccaf20,#f9f295);
  animation:gradiente 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip:text;
  text-align: center;
}

.aquamarina{
  color:transparent;
  background: linear-gradient(270deg,#061829,#10374a,#165668,#104046,#034948,#005d5c);
  animation:gradiente 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip:text;
  text-align: center;
}

.sangre{
  color:transparent;
  background: linear-gradient(270deg,#d91a1a,#b41c1c,#6b1f20,#402022,#212224,#990f02);
  animation:gradiente 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip:text;
  text-align: center;
}

.arcoiris{
  color:transparent;
  background: linear-gradient(270deg,#1e5799,#2ce0bf,#76dd2c,#dba62b,#ff1493,#1e5799);
  animation:gradiente 64s linear infinite;
  background-size: 60% 100%;
  -webkit-background-clip:text;
  text-align: center;
}

@keyframes gradiente{
  0%{background-position-x:0}
  to{background-position-x:10240px}
